.form{
    margin-left: 7.5em;
    position: absolute;
    bottom: 18.2em;

    input{
        outline: 0;
        padding: 1em;
        border: 1px solid #ccc;
        border-radius: 60px;
    }
    button{
        margin-left: 1em;
        border: 1px solid #ccc;
    }
}